<html>
    <body>
        <title>{{ title }} - Microblog</title>
    </head>
    <body>
        <h1>Hello!</h1>
        <form action = "/result" method = "POST">
            <p>Name <input type = "text" name = "Name" /></p>
            <p>Age <input type = "text" name = "Age" /></p>
            <p>Language <input type = "text" name = "Language" /></p>
            <p>Dialect <input type = "text" name = "Dialect" /></p>
            <p>Proficiency Level <input type = "text" name = "Proficiency Level" /></p>
            <p>Language to Learn <input type = "text" name = "Language to Learn" /></p>
            <p>Dialect to Learn <input type = "text" name = "Language" /></p>
            <p>Proficiency Level So Far <input type = "text" name = "Proficiency Level So Far" /></p>
            <p>Country <input type = "text" name = "Country" /></p>
            <p>Occupation <input type = "text" name = "Occupation" /></p>
            <p>Interests <input type = "text" name = "Interests" /></p>
            <p><input type = "submit" value = "submit" /></p>
        </form>
    </body>
</html>